# For security reasons, Option followsymlinks cannot be overridden.
#Options +FollowSymlinks
Options +SymLinksIfOwnerMatch
RewriteEngine On
RewriteRule ^std/caps/(.*)$ /caps/$1 [R=301,L]
RewriteRule ^index.htm?l?$ /index.php [R=301,L]
RewriteRule ^view/(.*)/(.*)/(.*)?/?$ /veiw_pic.php?av=$2&ep=$1&pic=$3 [QSA]
RewriteRule ^view/std/(.*)?/?$ /veiw_pic2.php?ep=caps&pic=$1 [QSA]
RewriteRule ^crush?/?$ /crush.php [QSA]
RewriteRule ^crush/(.*)?/?$ /crush.php?mode=$1 [QSA]
RewriteRule ^sink_or_swim?/?$ /sink_or_swim.php [QSA]
RewriteRule ^sink_or_swim/(.*)?/?$ /sink_or_swim.php?mode=$1 [QSA]
RewriteRule ^the_new_ron?/?$ /the_new_ron.php [QSA]
RewriteRule ^the_new_ron/(.*)?/?$ /the_new_ron.php?mode=$1 [QSA]
RewriteRule ^tick_tick_tick?/?$ /tick_tick_tick.php [QSA]
RewriteRule ^tick_tick_tick/(.*)?/?$ /tick_tick_tick.php?mode=$1 [QSA]
RewriteRule ^down_hill?/?$ /down_hill.php [QSA]
RewriteRule ^down_hill/(.*)?/?$ /down_hill.php?mode=$1 [QSA]
RewriteRule ^bueno_nacho?/?$ /bueno_nacho.php [QSA]
RewriteRule ^bueno_nacho/(.*)?/?$ /bueno_nacho.php?mode=$1 [QSA]
RewriteRule ^number_one?/?$ /number_one.php [QSA]
RewriteRule ^number_one/(.*)?/?$ /number_one.php?mode=$1 [QSA]
RewriteRule ^mind_games?/?$ /mind_games.php [QSA]
RewriteRule ^mind_games/(.*)?/?$ /mind_games.php?mode=$1 [QSA]
RewriteRule ^attack_of_the_killer_bebes?/?$ /attack_of_the_killer_bebes.php [QSA]
RewriteRule ^attack_of_the_killer_bebes/(.*)?/?$ /attack_of_the_killer_bebes.php?mode=$1 [QSA]
RewriteRule ^royal_pain?/?$ /royal_pain.php [QSA]
RewriteRule ^royal_pain/(.*)?/?$ /royal_pain.php?mode=$1 [QSA]
RewriteRule ^coach_possible?/?$ /coach_possible.php [QSA]
RewriteRule ^coach_possible/(.*)?/?$ /coach_possible.php?mode=$1 [QSA]
RewriteRule ^pain_king_vs_cleopatra?/?$ /pain_king_vs_cleopatra.php [QSA]
RewriteRule ^pain_king_vs_cleopatra/(.*)?/?$ /pain_king_vs_cleopatra.php?mode=$1 [QSA]
RewriteRule ^monkey_fist_strikes?/?$ /monkey_fist_strikes.php [QSA]
RewriteRule ^monkey_fist_strikes/(.*)?/?$ /monkey_fist_strikes.php?mode=$1 [QSA]
RewriteRule ^october_31st?/?$ /october_31st.php [QSA]
RewriteRule ^october_31st/(.*)?/?$ /october_31st.php?mode=$1 [QSA]
RewriteRule ^all_the_news?/?$ /all_the_news.php [QSA]
RewriteRule ^all_the_news/(.*)?/?$ /all_the_news.php?mode=$1 [QSA]
RewriteRule ^kimitation_nation?/?$ /kimitation_nation.php [QSA]
RewriteRule ^kimitation_nation/(.*)?/?$ /kimitation_nation.php?mode=$1 [QSA]
RewriteRule ^the_twin_factor?/?$ /the_twin_factor.php [QSA]
RewriteRule ^the_twin_factor/(.*)?/?$ /the_twin_factor.php?mode=$1 [QSA]
RewriteRule ^animal_attraction?/?$ /animal_attraction.php [QSA]
RewriteRule ^animal_attraction/(.*)?/?$ /animal_attraction.php?mode=$1 [QSA]
RewriteRule ^monkey_ninjas_in_space?/?$ /monkey_ninjas_in_space.php [QSA]
RewriteRule ^monkey_ninjas_in_space/(.*)?/?$ /monkey_ninjas_in_space.php?mode=$1 [QSA]
RewriteRule ^ron_the_man?/?$ /ron_the_man.php [QSA]
RewriteRule ^ron_the_man/(.*)?/?$ /ron_the_man.php?mode=$1 [QSA]
RewriteRule ^low_budget?/?$ /low_budget.php [QSA]
RewriteRule ^low_budget/(.*)?/?$ /low_budget.php?mode=$1 [QSA]
RewriteRule ^naked_genius?/?$ /naked_genius.php [QSA]
RewriteRule ^naked_genius/(.*)?/?$ /naked_genius.php?mode=$1 [QSA]
RewriteRule ^grudge_match?/?$ /grudge_match.php [QSA]
RewriteRule ^grudge_match/(.*)?/?$ /grudge_match.php?mode=$1 [QSA]
RewriteRule ^two_to_tutor?/?$ /two_to_tutor.php [QSA]
RewriteRule ^two_to_tutor/(.*)?/?$ /two_to_tutor.php?mode=$1 [QSA]
RewriteRule ^the_ron_factor?/?$ /the_ron_factor.php [QSA]
RewriteRule ^the_ron_factor/(.*)?/?$ /the_ron_factor.php?mode=$1 [QSA]
RewriteRule ^car_trouble?/?$ /car_trouble.php [QSA]
RewriteRule ^car_trouble/(.*)?/?$ /car_trouble.php?mode=$1 [QSA]
RewriteRule ^rufus_in_show?/?$ /rufus_in_show.php [QSA]
RewriteRule ^rufus_in_show/(.*)?/?$ /rufus_in_show.php?mode=$1 [QSA]
RewriteRule ^adventures_in_rufus-sitting?/?$ /adventures_in_rufus-sitting.php [QSA]
RewriteRule ^adventures_in_rufus-sitting/(.*)?/?$ /adventures_in_rufus-sitting.php?mode=$1 [QSA]
RewriteRule ^job_unfair?/?$ /job_unfair.php [QSA]
RewriteRule ^job_unfair/(.*)?/?$ /job_unfair.php?mode=$1 [QSA]
RewriteRule ^the_golden_years?/?$ /the_golden_years.php [QSA]
RewriteRule ^the_golden_years/(.*)?/?$ /the_golden_years.php?mode=$1 [QSA]
RewriteRule ^vir_tu_ron?/?$ /vir_tu_ron.php [QSA]
RewriteRule ^vir_tu_ron/(.*)?/?$ /vir_tu_ron.php?mode=$1 [QSA]
RewriteRule ^the_fearless_ferret?/?$ /the_fearless_ferret.php [QSA]
RewriteRule ^the_fearless_ferret/(.*)?/?$ /the_fearless_ferret.php?mode=$1 [QSA]
RewriteRule ^exchange?/?$ /exchange.php [QSA]
RewriteRule ^exchange/(.*)?/?$ /exchange.php?mode=$1 [QSA]
RewriteRule ^rufus_vs_commodore_puddles?/?$ /rufus_vs_commodore_puddles.php [QSA]
RewriteRule ^rufus_vs_commodore_puddles/(.*)?/?$ /rufus_vs_commodore_puddles.php?mode=$1 [QSA]
RewriteRule ^day_of_snowmen?/?$ /day_of_snowmen.php [QSA]
RewriteRule ^day_of_snowmen/(.*)?/?$ /day_of_snowmen.php?mode=$1 [QSA]
RewriteRule ^ASIT?/?$ /ASIT.php [QSA]
RewriteRule ^ASIT/(.*)/(.*)?/?$ /ASIT.php?mode=$2&ep=$1 [QSA]
RewriteRule ^a_very_possible_christmas?/?$ /a_very_possible_christmas.php [QSA]
RewriteRule ^a_very_possible_christmas/(.*)?/?$ /a_very_possible_christmas.php?mode=$1 [QSA]
RewriteRule ^queen_bebe?/?$ /queen_bebe.php [QSA]
RewriteRule ^queen_bebe/(.*)?/?$ /queen_bebe.php?mode=$1 [QSA]
RewriteRule ^hidden_talent?/?$ /hidden_talent.php [QSA]
RewriteRule ^hidden_talent/(.*)?/?$ /hidden_talent.php?mode=$1 [QSA]
RewriteRule ^return_to_wannaweep?/?$ /return_to_wannaweep.php [QSA]
RewriteRule ^return_to_wannaweep/(.*)?/?$ /return_to_wannaweep.php?mode=$1 [QSA]
RewriteRule ^go_team_go?/?$ /go_team_go.php [QSA]
RewriteRule ^go_team_go/(.*)?/?$ /go_team_go.php?mode=$1 [QSA]
RewriteRule ^the_full_monkey?/?$ /the_full_monkey.php [QSA]
RewriteRule ^the_full_monkey/(.*)?/?$ /the_full_monkey.php?mode=$1 [QSA]
RewriteRule ^blush?/?$ /blush.php [QSA]
RewriteRule ^blush/(.*)?/?$ /blush.php?mode=$1 [QSA]
RewriteRule ^partners?/?$ /partners.php [QSA]
RewriteRule ^partners/(.*)?/?$ /partners.php?mode=$1 [QSA]
RewriteRule ^oh_boys?/?$ /oh_boys.php [QSA]
RewriteRule ^oh_boys/(.*)?/?$ /oh_boys.php?mode=$1 [QSA]
RewriteRule ^sick_day?/?$ /sick_day.php [QSA]
RewriteRule ^sick_day/(.*)?/?$ /sick_day.php?mode=$1 [QSA]
RewriteRule ^the_truth_hurts?/?$ /the_truth_hurts.php [QSA]
RewriteRule ^the_truth_hurts/(.*)?/?$ /the_truth_hurts.php?mode=$1 [QSA]
RewriteRule ^mothers_day?/?$ /mothers_day.php [QSA]
RewriteRule ^mothers_day/(.*)?/?$ /mothers_day.php?mode=$1 [QSA]
RewriteRule ^motor_ed?/?$ /motor_ed.php [QSA]
RewriteRule ^motor_ed/(.*)?/?$ /motor_ed.php?mode=$1 [QSA]
RewriteRule ^ron_millionaire?/?$ /ron_millionaire.php [QSA]
RewriteRule ^ron_millionaire/(.*)?/?$ /ron_millionaire.php?mode=$1 [QSA]
RewriteRule ^triple_s?/?$ /triple_s.php [QSA]
RewriteRule ^triple_s/(.*)?/?$ /triple_s.php?mode=$1 [QSA]
RewriteRule ^rewriting_history?/?$ /rewriting_history.php [QSA]
RewriteRule ^rewriting_history/(.*)?/?$ /rewriting_history.php?mode=$1 [QSA]
RewriteRule ^steal_wheels?/?$ /steal_wheels.php [QSA]
RewriteRule ^steal_wheels/hd/(.*)?/?$ /steal_wheels.php?v=hd&mode=$1 [QSA]
RewriteRule ^steal_wheels/(.*)?/?$ /steal_wheels.php?mode=$1 [QSA]
RewriteRule ^emotion_sickness?/?$ /emotion_sickness.php [QSA]
RewriteRule ^emotion_sickness/hd/(.*)?/?$ /emotion_sickness.php?v=hd&mode=$1 [QSA]
RewriteRule ^emotion_sickness/(.*)?/?$ /emotion_sickness.php?mode=$1 [QSA]
RewriteRule ^bonding?/?$ /bonding.php [QSA]
RewriteRule ^bonding/hd/(.*)?/?$ /bonding.php?v=hd&mode=$1 [QSA]
RewriteRule ^bonding/(.*)?/?$ /bonding.php?mode=$1 [QSA]
RewriteRule ^bad_boy?/?$ /bad_boy.php [QSA]
RewriteRule ^bad_boy/hd/(.*)?/?$ /bad_boy.php?v=hd&mode=$1 [QSA]
RewriteRule ^bad_boy/(.*)?/?$ /bad_boy.php?mode=$1 [QSA]
RewriteRule ^showdown_st_the_crooked_d?/?$ /showdown_st_the_crooked_d.php [QSA]
RewriteRule ^showdown_st_the_crooked_d/(.*)?/?$ /showdown_st_the_crooked_d.php?mode=$1 [QSA]
RewriteRule ^dimension_twist?/?$ /dimension_twist.php [QSA]
RewriteRule ^dimension_twist/hd/(.*)?/?$ /dimension_twist.php?v=hd&mode=$1 [QSA]
RewriteRule ^dimension_twist/(.*)?/?$ /dimension_twist.php?mode=$1 [QSA]
RewriteRule ^over_due?/?$ /over_due.php [QSA]
RewriteRule ^over_due/hd/(.*)?/?$ /over_due.php?v=hd&mode=$1 [QSA]
RewriteRule ^over_due/(.*)?/?$ /over_due.php?mode=$1 [QSA]
RewriteRule ^roachie?/?$ /roachie.php [QSA]
RewriteRule ^roachie/hd/(.*)?/?$ /roachie.php?v=hd&mode=$1 [QSA]
RewriteRule ^roachie/(.*)?/?$ /roachie.php?mode=$1 [QSA]
RewriteRule ^rappin_drakken?/?$ /rappin_drakken.php [QSA]
RewriteRule ^rappin_drakken/hd/(.*)?/?$ /rappin_drakken.php?v=hd&mode=$1 [QSA]
RewriteRule ^rappin_drakken/(.*)?/?$ /rappin_drakken.php?mode=$1 [QSA]
RewriteRule ^team_impossible?/?$ /team_impossible.php [QSA]
RewriteRule ^team_impossible/hd/(.*)?/?$ /team_impossible.php?v=hd&mode=$1 [QSA]
RewriteRule ^team_impossible/(.*)?/?$ /team_impossible.php?mode=$1 [QSA]
RewriteRule ^gorilla_fist?/?$ /gorilla_fist.php [QSA]
RewriteRule ^gorilla_fist/(.*)?/?$ /gorilla_fist.php?mode=$1 [QSA]
RewriteRule ^ATMRWBCGI?/?$ /ATMRWBCGI.php [QSA]
RewriteRule ^ATMRWBCGI/(.*)?/?$ /ATMRWBCGI.php?mode=$1 [QSA]
RewriteRule ^std?/?$ /std.php [QSA]
RewriteRule ^std/(.*)?/?$ /std.php?start=$1 [QSA]
RewriteRule ^HD_test?/?$ /HD_test.php [QSA]
RewriteRule ^HD_test/(.*)?/?$ /HD_test.php?mode=$1 [QSA]
RewriteRule ^ill-suited?/?$ /ill-suited.php [QSA]
RewriteRule ^ill-suited/(.*)?/?$ /ill-suited.php?mode=$1 [QSA]
RewriteRule ^the_big_job?/?$ /the_big_job.php [QSA]
RewriteRule ^the_big_job/(.*)?/?$ /the_big_job.php?mode=$1 [QSA]
RewriteRule ^trading_faces?/?$ /trading_faces.php [QSA]
RewriteRule ^trading_faces/hd/(.*)?/?$ /trading_faces.php?v=hd&mode=$1 [QSA]
RewriteRule ^trading_faces/(.*)?/?$ /trading_faces.php?mode=$1 [QSA]
RewriteRule ^The_cupid_effect?/?$ /The_cupid_effect.php [QSA]
RewriteRule ^The_cupid_effect/hd/(.*)?/?$ /The_cupid_effect.php?v=hd&mode=$1 [QSA]
RewriteRule ^The_cupid_effect/(.*)?/?$ /The_cupid_effect.php?mode=$1 [QSA]
RewriteRule ^car_alarm?/?$ /car_alarm.php [QSA]
RewriteRule ^car_alarm/hd/(.*)?/?$ /car_alarm.php?v=hd&mode=$1 [QSA]
RewriteRule ^car_alarm/(.*)?/?$ /car_alarm.php?mode=$1 [QSA]
RewriteRule ^mad_dogs_and_aliens?/?$ /mad_dogs_and_aliens.php [QSA]
RewriteRule ^mad_dogs_and_aliens/hd/(.*)?/?$ /mad_dogs_and_aliens.php?v=hd&mode=$1 [QSA]
RewriteRule ^mad_dogs_and_aliens/(.*)?/?$ /mad_dogs_and_aliens.php?mode=$1 [QSA]
RewriteRule ^grande_size_me?/?$ /grande_size_me.php [QSA]
RewriteRule ^grande_size_me/hd/(.*)?/?$ /grande_size_me.php?v=hd&mode=$1 [QSA]
RewriteRule ^grande_size_me/(.*)?/?$ /grande_size_me.php?mode=$1 [QSA]
RewriteRule ^clothes_minded?/?$ /clothes_minded.php [QSA]
RewriteRule ^clothes_minded/hd/(.*)?/?$ /clothes_minded.php?v=hd&mode=$1 [QSA]
RewriteRule ^clothes_minded/(.*)?/?$ /clothes_minded.php?mode=$1 [QSA]
RewriteRule ^big_bother?/?$ /big_bother.php [QSA]
RewriteRule ^big_bother/hd/(.*)?/?$ /big_bother.php?v=hd&mode=$1 [QSA]
RewriteRule ^big_bother/(.*)?/?$ /big_bother.php?mode=$1 [QSA]
RewriteRule ^fashion_victim?/?$ /fashion_victim.php [QSA]
RewriteRule ^fashion_victim/hd/(.*)?/?$ /fashion_victim.php?v=hd&mode=$1 [QSA]
RewriteRule ^fashion_victim/(.*)?/?$ /fashion_victim.php?mode=$1 [QSA]
RewriteRule ^odds_man_in?/?$ /odds_man_in.php [QSA]
RewriteRule ^odds_man_in/hd/(.*)?/?$ /odds_man_in.php?v=hd&mode=$1 [QSA]
RewriteRule ^odds_man_in/(.*)?/?$ /odds_man_in.php?mode=$1 [QSA]
RewriteRule ^stop_team_go?/?$ /stop_team_go.php [QSA]
RewriteRule ^stop_team_go/hd/(.*)?/?$ /stop_team_go.php?v=hd&mode=$1 [QSA]
RewriteRule ^stop_team_go/(.*)?/?$ /stop_team_go.php?mode=$1 [QSA]
RewriteRule ^capn_drakken?/?$ /capn_drakken.php [QSA]
RewriteRule ^capn_drakken/hd/(.*)?/?$ /capn_drakken.php?v=hd&mode=$1 [QSA]
RewriteRule ^capn_drakken/(.*)?/?$ /capn_drakken.php?mode=$1 [QSA]
RewriteRule ^mathter_and_fervent?/?$ /mathter_and_fervent.php [QSA]
RewriteRule ^mathter_and_fervent/(.*)?/?$ /mathter_and_fervent.php?mode=$1 [QSA]
RewriteRule ^mentor_of_our_discontent?/?$ /mentor_of_our_discontent.php [QSA]
RewriteRule ^mentor_of_our_discontent/(.*)?/?$ /mentor_of_our_discontent.php?mode=$1 [QSA]
RewriteRule ^oh_no_yono?/?$ /oh_no_yono.php [QSA]
RewriteRule ^oh_no_yono/(.*)?/?$ /oh_no_yono.php?mode=$1 [QSA]
RewriteRule ^clean_slate?/?$ /clean_slate.php [QSA]
RewriteRule ^clean_slate/hd/(.*)?/?$ /clean_slate.php?v=hd&mode=$1 [QSA]
RewriteRule ^clean_slate/(.*)?/?$ /clean_slate.php?mode=$1 [QSA]
RewriteRule ^homecoming_upset?/?$ /homecoming_upset.php [QSA]
RewriteRule ^homecoming_upset/(.*)?/?$ /homecoming_upset.php?mode=$1 [QSA]
RewriteRule ^chasing_rufus?/?$ /chasing_rufus.php [QSA]
RewriteRule ^chasing_rufus/(.*)?/?$ /chasing_rufus.php?mode=$1 [QSA]
RewriteRule ^nursery_crimes?/?$ /nursery_crimes.php [QSA]
RewriteRule ^nursery_crimes/(.*)?/?$ /nursery_crimes.php?mode=$1 [QSA]
RewriteRule ^larrys_birthday?/?$ /larrys_birthday.php [QSA]
RewriteRule ^larrys_birthday/(.*)?/?$ /larrys_birthday.php?mode=$1 [QSA]
RewriteRule ^graduation?/?$ /graduation.php [QSA]
RewriteRule ^graduation/(.*)/(.*)?/?$ /graduation.php?v=$1&mode=$2 [QSA]
RewriteRule ^LL&S_Cross_Over?/?$ /LL&S_Cross_Over.php [QSA]
RewriteRule ^LL&S_Cross_Over/(.*)?/?$ /LL&S_Cross_Over.php?mode=$1 [QSA]
RewriteRule ^opening_sequences?/?$ /opening_sequences.php [QSA]
RewriteRule ^opening_sequences/(.*)/(.*)?/?$ /opening_sequences.php?mode=$2&ep=$1 [QSA]
RewriteRule ^std_deleted?/?$ /std_deleted.php [QSA]
RewriteRule ^ASIT_extras?/?$ /ASIT_extras.php [QSA]
RewriteRule ^TSF-WackoBadGuys?/?$ /TSF-WackoBadGuys.php [QSA]
RewriteRule ^KP-Ad-TSF?/?$ /KP-Ad-TSF.php [QSA]
RewriteRule ^cgi_rufus?/?$ /cgi_rufus.php [QSA]
RewriteRule ^cgi_rufus/(.*)?/?$ /cgi_rufus.php?mode=$1 [QSA]
RewriteRule ^TVF-VillainParty?/?$ /TVF-VillainParty.php [QSA]
RewriteRule ^music_videos?/?$ /music_videos.php [QSA]
RewriteRule ^music_videos/(.*)/(.*)?/?$ /music_videos.php?mode=$2&ep=$1 [QSA]
Options -Indexes