AddHandler application/x-httpd-php5 .php
# AddHandler php-fastcgi .php
RewriteEngine On
RewriteRule ^view_pic/(.*)/(.*)?/?$ /veiw_pic.php?what=$1&pic=$2 [QSA]
RewriteRule ^coverart?/?$ /coverart.php [QSA]
RewriteRule ^kim_clothes?/?$ /kim_clothes.php [QSA]
RewriteRule ^kim_clothes/(.*)/(.*)?/?$ /kim_clothes.php?ep=$1&pic=$2 [QSA]
RewriteRule ^signs?/?$ /signs.php [QSA]
RewriteRule ^signs/(.*)/(.*)?/?$ /signs.php?ep=$1&pic=$2 [QSA]
RewriteRule ^charinfo?/?$ /charinfo.php [QSA]
RewriteRule ^charinfo/(.*)?/?$ /charinfo.php?mode=$1 [QSA]
RewriteRule ^promo_art?/?$ /promo_art.php [QSA]
RewriteRule ^promo_art/(.*)/(.*)?/?$ /promo_art.php?mode=$1&pic=$2 [QSA]
RewriteRule ^misc_promo_art?/?$ /misc_promo_art.php [QSA]
RewriteRule ^misc_promo_art/(.*)/(.*)?/?$ /misc_promo_art.php?mode=$1&pic=$2 [QSA]
RewriteRule ^modelsheets?/?$ /modelsheets.php [QSA]
RewriteRule ^modelsheets/(.*)?/?$ /modelsheets.php?mode=$1 [QSA]
RewriteRule ^merchandise?/?$ /merchan.php [QSA]
RewriteRule ^merchandise/(.*)/(.*)/(.*)?/?$ /merchan.php?mode=$1&pagenum=$2&pic=$3 [QSA]
RewriteRule ^merchandise/(.*)?/?$ /merchan.php?pagenum=$1 [QSA]
RewriteRule ^about?/?$ /about.php [QSA]
RewriteRule ^downloads?/?$ /downloads.php [QSA]
RewriteRule ^downloads/([a-z0-9]+)?/?$ /downloads.php?page=$1 [QSA]
RewriteRule ^panel?/?$ /panel.php [QSA]
RewriteRule ^guide?/?([0-9]+)?/?$ /guides/$1 [R=301,L]
RewriteRule ^guides?/?$ /guides/1 [R=301,L]
RewriteRule ^guides/([0-9]+)?/?$ /epguides.php?ep=$1 [QSA]
RewriteRule ^movie/([0-9]+)?/?$ /epguides.php?ep=movie&id=$1 [QSA]
RewriteRule ^eplist?/?$ /epguides.php?mode=list [QSA]
RewriteRule ^eplist/chron?/?$ /epguides.php?mode=list&order=chron [QSA]
RewriteRule ^recap/([0-9]+)?/?$ /recap.php?mode=recap&ep=$1 [QSA]
RewriteRule ^transcript?/?$ /recap.php?mode=scriptlist [QSA]
RewriteRule ^transcript/([0-9]+)?/?$ /recap.php?mode=script&ep=$1 [QSA]
RewriteRule ^userbars?/?$ /avatarsig.php?mode=userbars [QSA]
RewriteRule ^avatars?/?$ /avatarsig.php?mode=avatars [QSA]
RewriteRule ^media?/?$ /media.php [QSA]
RewriteRule ^media/([a-z]+)?/?$ /mediahost.php?type=$1 [QSA]
RewriteRule ^chronology?/?$ /chronology.php [QSA]
RewriteRule ^trivia?/?$ /trivia.php [QSA]
RewriteRule ^trivia/([a-zA-Z0-9_]+)?/?$ /trivia.php?ep=$1 [QSA]
RewriteRule ^profile/([a-zA-Z0-9_]+)?/?$ /profilered.php?user=$1 [QSA]
RewriteRule ^youtube?/?$ /youtube.php [QSA]
RewriteRule ^youtube/([a-zA-Z0-9]+)?/?$ /youtube.php?vid=$1 [QSA]
RewriteRule ^contest?/?$ /contest.php [QSA]
RewriteRule ^timeline?/?$ /timeline.php [QSA]
RewriteRule ^spoilers?/?$ /spoilers.php [QSA]
RewriteRule ^caps$ /std_caps.php [QSA]
RewriteRule ^avhosting?/?$ /avhosting.php [QSA]
RewriteRule ^sitemap$ /sitemap.php [QSA]
RewriteRule ^donate$ /donate.php [QSA]
RewriteRule ^contest$ /contest.php [QSA]
RewriteRule ^forums?/?$ http://ronstoppable.proboards89.com [R=301,L]
RewriteRule ^forum?/?$ http://ronstoppable.proboards89.com [R=301,L]
RewriteRule ^kpfw_forum.php(.*)?/?$ http://ronstoppable.proboards89.com [R=301,L]
RewriteRule ^~kpfanwor?/?(.*)$ /index.php [QSA]

Options -Indexes

AddType application/x-windowsmedia wmv wma asf asx
